In [3]:
import pandas as pd

In [4]:
pl = pd.read_excel('documentation\\Jun25 MICL MI Pack v3.1 Isi pack exc PC.xlsx', sheet_name='PL')
bs = pd.read_excel('documentation\\Jun25 MICL MI Pack v3.1 Isi pack exc PC.xlsx', sheet_name='BS')
df = pd.read_excel('documentation\\Jun25 MICL MI Pack v3.1 Isi pack exc PC.xlsx', sheet_name='Deferrals')

In [6]:
display(pl.head())

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,MICL Profit and Loss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2025-06-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,£'000s,NaN,2025-06-01 00:00:00,NaN,NaN,NaN,YTD,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Actual,Budget,Variance,NaN,Actual,Budget,Variance,NaN,NaN,Prior_Year,Variance